<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KUSYS_Demo.WebApp</title>
    <!-- font-awesome -->
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- adminlte -->
    <link href="~/adminLte_template/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-gray-dark text-sm">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @* <li class="nav-item d-none d-sm-inline-block">
                <a href="@Url.Action("Index","Home")" class="nav-link">Dashboard</a>
                </li>*@
            </ul>

            <ul class="navbar-nav ml-auto">
                @* sign out *@
                <li class="nav-item dropdown">
                    <form action="/Account/LogOut" method="post">
                        <input type="submit" class="btn btn-primary" name="name" value="Çıkış" />
                    </form>
                </li>
            </ul>

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <i class="fas fa-user brand-image img-circle elevation-3 pt-2" style="opacity: .8"></i>
                @*<img src="~/adminLte_template/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">*@
                <span class="brand-text font-weight-light">Öğrenci Otomasyonu</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-4 pb-4 mb-4 d-flex">
                    <div class="image pt-1">
                        <i class="fas fa-user img-circle elevation-2" alt="User Image"></i>
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">
                            <i class="fa fa-circle text-success"></i> Online
                        </a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column text-sm nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-header">MENUS</li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Index">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Öğrenci İşlemleri @*(CRUD - US-1)*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="StudentCourse" asp-action="Index">
                                <i class="nav-icon fas fa-bezier-curve"></i>
                                <p>
                                    Öğrenciye Kurs Atama @* (US-3)*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="StudentCourse" asp-action="StudentFullList">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Tüm Öğrenci Bilgileri @*(US-4)*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Index">
                                <i class="nav-icon fas fa-bezier-curve"></i>
                                <p>
                                    Kurslar
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                @RenderSection("breadcrumbs", required: false)
            </section>

                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
        </div>



        <footer class="main-footer text-sm">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#" target="_blank">Hatice Elif TOPALOĞLU</a>.</strong>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
    </div>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <!-- jQuery -->
    <!-- jQuery -->
    <script src="~/adminLte_template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminLte_template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminLte_template/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/adminLte_template/dist/js/demo.js"></script>
    <!-- bootbox -->
    <script src="~/bootbox/bootbox.js"></script>

    <!-- Menu -->
    <script>
        $(document).ready(function () {
            var url = window.location;
            $('ul.nav-sidebar a').filter(function () {
                return this.href == url;
            }).addClass('active');

            $('ul.nav-treeview a').filter(function () {
                return this.href == url;
            }).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').prev('a').addClass('active');
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
